<!-- yourapplication/templates/index.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center mt-4 mb-4">中国药科大学羽毛球场馆预约系统<br>(系统仅在中午12点-24点开放,其他时间无法提交预约)</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <!-- 预约表单 -->
            <form action="{{ url_for('main.index') }}" method="post" class="mt-4">
                {{ form.hidden_tag() }}
                <!-- 姓名 -->
                <div class="form-group">
                    {{ form.yuyue_name.label }}
                    {{ form.yuyue_name(class="form-control", placeholder="请输入姓名") }}
                </div>

                <!-- 联系电话 -->
                <div class="form-group">
                    {{ form.yuyue_hp.label }}
                    {{ form.yuyue_hp(class="form-control", placeholder="请输入联系电话") }}
                </div>

                <!-- 开始时间 -->
                <div class="form-group">
                    {{ form.yuyue_time.label }}
                    {{ form.yuyue_time(class="form-control", placeholder="请输入开始时间") }}
                </div>

                <!-- 预约日期 -->
                <div class="form-group">
                    {{ form.yuyue_riqi.label }}
                    {{ form.yuyue_riqi(class="form-control") }}
                </div>

                <!-- 场馆选择 -->
                <div class="form-group">
                    {{ form.yuyue_changguan.label }}
                    {{ form.yuyue_changguan(class="form-control") }}
                </div>

                <!-- 提交按钮 -->
                {{ form.submit(class="btn btn-primary btn-block") }}

                <!-- 查看订单按钮 -->
                <a href="{{ url_for('main.view_orders') }}" class="btn btn-secondary btn-block mt-2">查看订单</a>
            </form>

            <!-- 新增的更新数据库表单 -->
            <form action="{{ url_for('main.update_orders') }}" method="post" class="mt-5">
                <h2 class="text-center">更新数据库</h2>
                <div class="form-group">
                    <label for="start_id">起始预约ID：</label>
                    <input type="number" class="form-control" id="start_id" name="start_id" placeholder="请输入起始预约ID">
                </div>
                <div class="form-group">
                    <label for="end_id">结束预约ID：</label>
                    <input type="number" class="form-control" id="end_id" name="end_id" placeholder="请输入结束预约ID">
                </div>
                <button type="submit" class="btn btn-info btn-block">更新数据库</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}